<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
    <h1>Goals</h1>
    <input type="text" v-model="enteredValue">
    <button v-on:click="addGoal">Add Goal</button>
    <button v-on:click="reset">Reset</button>

    <h3>Display Goals:</h3>
    <ul>
        <li v-for="goal in goals">{{goal}}</li>
    </ul> 
    </div>
    
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./app.js"></script>
</body>
</html>